<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.XcPayMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.XcPay">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="top_up_way" jdbcType="VARCHAR" property="topUpWay" />
    <result column="top_up_money" jdbcType="DECIMAL" property="topUpMoney" />
    <result column="account_money" jdbcType="DECIMAL" property="accountMoney" />
    <result column="currency_name" jdbcType="VARCHAR" property="currencyName" />
    <result column="message" jdbcType="VARCHAR" property="message" />
  </resultMap>

  <select id="list" resultType="com.company.project.model.XcPay">
      select p.id as id,p.create_time as createTime,p.create_user_id as createUserId,p.status as status,p.top_up_way as topUpWay,
              p.top_up_money as topUpMoney,p.account_money as accountMoney,p.currency_name as currencyName,
              p.message as message,u.phone as phone
      from t_pay p inner join t_user u on p.create_user_id = u.id
      where
      p.is_delete = 0
      and u.is_delete = 0
      <if test="phone != null and phone != ''">
          and u.phone LIKE concat(concat('%',#{phone}),'%')
      </if>
      <if test="startTime != null and startTime != '' and endTime != null and endTime != '' ">
          and DATE_FORMAT(p.create_time,'%Y-%m-%d') BETWEEN #{startTime} AND #{endTime}
      </if>
  </select>



</mapper>