<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.XcPetParameterMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.XcPetParameter">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user_id" jdbcType="VARCHAR" property="createUserId" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user_id" jdbcType="VARCHAR" property="updateUserId" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="pet_name" jdbcType="VARCHAR" property="petName" />
    <result column="buying_price" jdbcType="VARCHAR" property="buyingPrice" />
    <result column="period" jdbcType="VARCHAR" property="period" />
    <result column="earnings" jdbcType="VARCHAR" property="earnings" />
    <result column="curing_energy_stone" jdbcType="VARCHAR" property="curingEnergyStone" />
    <result column="quantity" jdbcType="VARCHAR" property="quantity" />
    <result column="energy_scale" jdbcType="VARCHAR" property="energyScale" />
    <result column="seed_quantity_exchange_energy_stone" jdbcType="VARCHAR" property="seedQuantityExchangeEnergyStone" />
    <result column="usdt_exchange_energy_stone" jdbcType="VARCHAR" property="usdtExchangeEnergyStone" />
  </resultMap>
</mapper>